{% load staticfiles %}

<div class="brands">
    <img src="{% static '/images/products/1.jpg' %}">
    <img src="{% static '/images/products/2.jpg' %}">
    <img src="{% static '/images/products/3.jpg' %}">
    <img src="{% static '/images/products/4.jpg' %}">
    <img src="{% static '/images/products/5.jpg' %}">
    <img src="{% static '/images/products/6.jpg' %}">
    <img src="{% static '/images/products/7.jpg' %}">
    <img src="{% static '/images/products/8.jpg' %}">
</div>
<div class="insta">
    <h2><i class="fab fa-instagram fa-lg"></i> Instagram feed: #my pro-fashion</h2>
</div>
<div class="insta_img">
    <img src="{% static '/images/products/12-1-e1510912188613.jpg' %}">
    <img src="{% static '/images/products/1249.jpg' %}">
    <img src="{% static '/images/products/img5578_39902.jpg' %}">
    <img src="{% static '/images/products/seroe-plate-modeli-i-s-chem-nosit-.jpg' %}">
    <img src="{% static '/images/products/images%20(4).jpg' %}">
    <img src="{% static '/images/products/Gilded+Social+-+The+Fancy+Occasion+Shop+-+main+image.jpg' %}">
</div>
<div class="otherLinks">
    <a id="fb" href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f fa-4x"></i></a>
    <a id="tw" href="https://twitter.com" target="_blank"><i class="fab fa-twitter fa-4x"></i></a>
    <a id="pi" href="https://pinterest.com" target="_blank"><i class="fab fa-pinterest-p fa-4x"></i></a>
</div>