{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="new_category_form">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-control" type="submit" value="save">
        </form>
        <a href="{% url 'admin:catalogue' category.pk %}" class="btn btn-round form-control last">
            to products list
        </a>
    </div>
{% endblock %}